<p style="color: maroon;text-decoration:underline">Features comparison among some popular match making indian sites</p>
<br />
<table class="editor">
    <tr>
        <th></th>
        <th>Verified mobile number
        </th>
        <th>Verified e-mail address
        </th>
        <th>Chat room
        </th>
        <th>Profile Viewer tracking
        </th>
        <th>Send Private message
        </th>
        <th>Search Engine
        </th>

    </tr>
    <tr>
        <th style="color:maroon">IndianBibah
        </th>
        <td style="color:maroon">Yes
        </td>
        <td style="color: maroon">Yes
        </td>
        <td style="color:maroon">Yes(Free)
        </td>
        <td style="color: maroon">Yes(Free)
        </td>
        <td style="color: maroon">Yes(Free)
        </td>
        <td style="color:maroon">Yes(Free)
        </td>

    </tr>
    <tr>
        <th>BharatMatrimony
        </th>
        <td style="color:  maroon">Yes
        </td>
        <td style="color: blue">No
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">Yes
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">No
        </td>

    </tr>
    <tr>
        <th>shaadi.com
        </th>
        <td style="color: blue">No
        </td>
        <td style="color: blue">No
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">Yes
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">No
        </td>
    </tr>
    <tr>
        <th>jeevansathi.com
        </th>
        <td style="color: blue">No
        </td>
        <td style="color: blue">No
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">Yes
        </td>
        <td style="color: blue">Yes(Not Free)
        </td>
        <td style="color: blue">No
        </td>
    </tr>

</table>
