<div style="width: 96%; padding: 2%">
    <div style="font: 16px sans-serif; color: blue">
        <a style="color: maroon; font-weight: bold">indianbibah.com</a> is an indian matrimonial site. This site has been developed for
    helping people finding their perfect life partner.
    </div>
    <br />
    <br />
    <div style="font: 12px sans-serif; color: maroon" class="hideinmobile">
        <p>
            There are many indian matrimonial sites. But we are different from others for following reasons:
        </p>
        <br />
        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * Both the desktop and mobile version of our website is <a style="color:black">highly user friendly</a> and <a style="color:black">totally secured.</a>
        </p>

        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * Even our free users can use our <a style="color:black">chat room facility.</a>
        </p>
        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * We monitor our site continuously so that <a style="color:black">no fake profile</a> can be registered in our system.
        </p>
        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * We are using <a style="color:black">cutting edge technology</a> in developing and updating our site which gives our clients <a style="color:black">world class search 
            engine facility</a> for finding their perfect match in only one click.
        </p>
        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * <a style="color:black">Customer satisfaction</a> is our business motto. We want to see everyone happy in conjugal life. So, we are providing service 
            in <a style="color:black">cheapest cost</a> than any other matrimonial services.
        </p>
        <p style="color: #656262; font: 14px bold Tahoma; padding-bottom: 1%">
            * Paid membership is offered for <a style="color:black">1 month and 3 months.</a> So, anyone can be our paid member for minimum amount of money.
        </p>
        <br />
        <p>
            Thank you in advance for using our service and we hope you will meet your perfect match through our website.
            We welcome any kind of suggestions to make our site more accurate and friendly. Good Luck!!!!
        </p>
    </div>

</div>
