<p style="color:maroon;text-decoration:underline">
    Our membership plans are
</p>
<br />
<table class="editor">
    <tr>
        <th>1 Month Subscription
        </th>
        <td style="color:blue">$10
        </td>
    </tr>
    <tr>
        <th>3 Months Subscription
        </th>
        <td style="color:blue">$25
        </td>
    </tr>

</table>
