

<div id="div_pass">

    @using (Ajax.BeginForm("password_retrival", "Home", new AjaxOptions
    {
        UpdateTargetId = "div_pass",
        LoadingElementId = "ajax",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"

    }))
    {
        <a>Your e-mail:</a> 
        <input type="text" name="email" />
        <input type="submit" value="send password" />

    }
    <div id="ajax" style="display: none">
        <img src="~/Content/ajax-loader.gif" />
    </div>
    <br />
    @Html.ActionLink("cancel", "Index", "Home")
</div>
