<p style="color: maroon;text-decoration:underline">Price comparison among some popular match making indian sites</p>
<br />
<table class="editor">
    <tr>
        <th></th>
        <th>1 month
        </th>
        <th>2 months
        </th>
        <th>3 months
        </th>
        <th>4 months
        </th>
        <th>5 months
        </th>
        <th>6 months
        </th>

    </tr>
    <tr>
        <th style="color:maroon">IndianBibah
        </th>
        <td style="color:maroon">$10
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color:maroon">$25
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>

    </tr>
    <tr>
        <th>BharatMatrimony
        </th>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">EUR 85(min.)
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">EUR 149(min.)
        </td>

    </tr>
    <tr>
        <th>shaadi.com
        </th>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">EUR 65(min.)
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">EUR 149(min.)
        </td>
    </tr>
    <tr>
        <th>jeevansathi.com
        </th>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">$95(min.)
        </td>
        <td style="color: blue">$101(min.)
        </td>
        <td style="color: blue">N/A
        </td>
        <td style="color: blue">$140(min.)
        </td>
    </tr>

</table>
