@model MyMatch.Models.lookingfor

<div id="edit3" class="hideinmobile">
<div class="banner">
    About myself.....
    @if (Model.username == User.Identity.Name)
    { 
        <span style="float: right">
            @Ajax.ActionLink("Edit section", "aboutme_edit", new { id = Model.ID }, new AjaxOptions
       {
           UpdateTargetId = "edit3",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })
        </span>
    }
</div>
    @Model.aboutme
</div>

<div id="edit4m" class="onlymobile">
<div class="banner">
    About myself.....
    @if (Model.username == User.Identity.Name)
    { 
        <span style="float: right">
            @Ajax.ActionLink("Edit", "aboutme_edit", new { id = Model.ID }, new AjaxOptions
       {
           UpdateTargetId = "mobile_view",
           InsertionMode = InsertionMode.Replace,
           HttpMethod = "GET"
       })
        </span>
    }
</div>
    <div style="text-align:left">
    @Model.aboutme
        </div>
</div>

